<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Browse Availible Pets</title>
    <link rel="stylesheet" href="/styles/home.css">

</head>

<body>
    <div id="body-container">
        <div id="content-wrap">
            <%- include("partials/headerOther.ejs")%>
            <div class="header2">
                <div class="image-text">
                    <h1 style="padding:100px 0">Browser Our Beautiful Pets</h1>
                </div>
            </div>
        <div class="container">
            <div class="sideMenu">
                <%- include("partials/sideMenu.ejs")%>
            </div>
            <div class="main-title">
                <h1>Let's Find You A Wonderful Pet! </h1>
            </div>
            <div class="content">
                <div class="home">
                    <div class="availablePets">
                        <p class="intro">Here are the pets that match your search criteria. Click on a pet to view more details and
                            contact the owner.</p>
                        <ul>
                            <% if (pets.length > 0) { %>
                                <% pets.forEach(function(pet) { 
                                    const details = pet.split(':');
                                %>
                                    <li>
                                        <h3>Species:</h3> <%= details[0] %><br>
                                        <h3>Breed:</h3> <%= details[1] %><br>
                                        <h3>Age:</h3> <%= details[2] %><br>
                                        <h3>Gender:</h3> <%= details[3] %><br>
                                        <h3>Social:</h3> <%= details[4] %><br>
                                        <h3>Description:</h3> <%= details[5] %><br>
                                    </li>
                                <% }); %>
                            <% } else { %>
                                <p>No pets found matching your criteria.</p>
                            <% } %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include("partials/footer.ejs")%>
    </div>
    <script src="../scripts/home.js"></script>
</body>

</html>